:root {
    --clr-primary-purple: hsl(259, 100%, 65%);
    --clr-primary-light-red: hsl(0, 100%, 67%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-light-grey: hsl(0, 0%, 86%);
    --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
    --clr-neutral-off-white: hsl(0, 0%, 94%);
    --clr-neutral-off-black: hsl(0, 0%, 8%);

    --fz-input: 2rem;
    --ff-main: 'Poppins', sans-serif;
    --fw-regular-italic: 400;
    --fw-bold: 700;
    --fw-extra-bold-italic: 800;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    background-color: var(--clr-neutral-light-grey);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    background: var(--clr-neutral-white);
}