:root {
    --clr-primary-purple: hsl(259, 100%, 65%);
    --clr-primary-light-red: hsl(0, 100%, 67%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-light-grey: hsl(0, 0%, 86%);
    --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
    --clr-neutral-off-white: hsl(0, 0%, 94%);
    --clr-neutral-off-black: hsl(0, 0%, 8%);

    --fz-input: 2rem;
    --ff-main: 'Poppins', sans-serif;
    --fw-regular-italic: 400;
    --fw-bold: 700;
    --fw-extra-bold-italic: 800;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    background-color: var(--clr-neutral-light-grey);
    font-family: var(--ff-main);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    background: var(--clr-neutral-white);
    padding: 3rem;
    border-radius: 1.5rem 1.5rem 10rem 1.5rem ;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.date-selection {
  display: flex;
  gap: 1rem;
}
.date-selection__text {
  color: var(--clr-neutral-smokey-grey);
  letter-spacing: .2rem;
  font-weight: var(--fw-bold);
}

input[type=number] {
  font-size: var(--fz-input);
  width: 150px;
  height: 70px;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--clr-neutral-smokey-grey);
}
input[type=number]::placeholder {
  font-size: var(--fz-input);
  font-weight: var(--fw-bold);
}
.arrow > img {
  background-color: var(--clr-primary-purple);
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
}
.display-age__text {
  font-size: 4rem;
  color: var(--clr-neutral-off-black);
  font-style: italic;
  font-weight: var(--fw-extra-bold-italic);
}
.display-age__text > span {
  color: var(--clr-primary-purple);
}